@page "/navigator"
@inject IJSRuntime jsRuntime;
@using RemiBou.Blazor.BrowserInterop
<h1>Navigator API Interop Demo</h1>
<h2>Navigator : </h2>
@if(navigator != null){
    <ul>
        <li id="navigator-app-code-name">@navigator.AppCodeName</li>  
        <li id="navigator-app-name">@navigator.AppName</li>
        <li id="navigator-app-version">@navigator.AppVersion</li>
    </ul>
}

@code {
    private NavigatorInterop navigator;
    protected override async Task OnInitializedAsync()
    {
        var window = await jsRuntime.Window();
        navigator = await window.Navigator();
    }
}
